<div class="row">
    <div class="col-md-6">
        <h1>SVG Polygon - &lt;polygon&gt;</h1>
            <svg height="210" width="500">
                <polygon points="200,10 250,190 160,210" style="fill:green;stroke:#333;stroke-width:1" />
            </svg>
    </div>

    <div class="col-md-6">
        <h1>Polyline</h1>
        <svg height="200" width="500">
            <polyline points="20,20 40,25 60,40 80,120 120,140 200,180"
                style="fill:none;stroke:black;stroke-width:3" />
        </svg>
    </div>
</div>


<div class="row">
    
    <div class="col-md-6">
        <h1>Using SVG from external file</h1>
        <img src="./svg-files/gift-15.svg">
        A gift icon. Image is from Public Domain
    </div>

    <div class="col-md-6">
        <h1>Paths</h1>
        <svg viewBox="0 0 1100 400" version="1.1">
            <path id="s3" d="M 60 0 L 120 0 L 180 60 L 180 120 L 120 180 L 60 180 L 0 120 L 0 60" fill="green" stroke="black" stroke-width="3"/>
        </svg>
        <br/>
            More: <a href="https://www.w3schools.com/graphics/svg_path.asp">https://www.w3schools.com/graphics/svg_path.asp</a>
    </div>

</div>