<div class="row">
    <div class="col-md-12">
        <ul>
            <li><a href="https://www.codeschool.com/courses/you-me-svg">https://www.codeschool.com/courses/you-me-svg</a></li> 
            <li><a href="https://www.w3schools.com/graphics/svg_intro.asp">https://www.w3schools.com/graphics/svg_intro.asp</a></li> 
            <li><a href="http://tutorials.jenkov.com/svg/svg-viewport-view-box.html">http://tutorials.jenkov.com/svg/svg-viewport-view-box.html</a></li>
        </ul>
    </div>
</div>