<h1>SVG - Comparison</h1>
<div class="row">
    <div class="col-md-6">
        <h2>SVG</h2>
        <ul>
            <li>Based on W3C Standards</li>
            <li>XML based</li>
            <li>Scalable (Vector based)</li>
            <li>Can be inline or loaded from a file</li>
            <li>Integrates well with DOM. <br/>
            You can attach an event handlers to a SVG element or update its properties based on another document event</li>
            <li>(vs Canvas) Performance is better with smaller number of objects (&lt;10k), a larger surface, or both</li>
        </ul>
    </div>

    <div class="col-md-6">
        <h2>Canvas</h2>
        <ul>
            <li>Manipulates Pixels</li>
            <li>Needs JavaScript to draw anything. <br/>
            The Canvas is dependent on JavaScript, so there can be an issue if the user has disabled JavaScript or uses an assistive device such as a reader that cannot interpret the JavaScript output.</li>
            <li>Canvas may be faster. SVG will result in slower rendering as document complexity increases due to SVG's integration into the DOM</li>
            <li>Performance is better with smaller surface, a larger number of objects (>10k), or both</li>
        </ul>
    </div>
</div>


<div class="row">

    <div class="col-md-6">
        <h2>Flash</h2>
        <ul>
            <li>Prioprietary technology</li>
            <li>Needs browser plugin</li>
            <li>Needs more time to load graphics</li>
            <li>Has applications for creating animations</li>
        </ul>
    </div>

</div>